$(function () {
  w2utils.locale('/assets/contentmanager/de-de.json')

  $('#grid').w2layout({
    name: 'relationmanager',
    panels: [
      { type: 'top', size: 58, resizable: true, content: "<div id='menu'></div>",
        title: '<%= I18n.t("mercator.relation_manager.title") %>'},
      { type: 'left', size: '20%', resizable: true,
        title: '<%= I18n.t("activerecord.models.product.one") %>',
        content: "<div id='productForm' style='height: 100%'></div>" },
      { type: 'main', resizable: true },
      { type: 'right', size: '45%', resizable: true,
        title: '<%= I18n.t("activerecord.models.product.other") %>',
        content: "<div id='productsgrid' style='height: 100%'></div>" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        productsGrid()
        w2ui.productsgrid.load('/productmanager/relation_manager/show_products')
        menu()
      }
    }
  })

  $().w2layout({
    name: 'relations',
    panels: [
      { type: 'top', size: '33%', resizable: true,
        title: '<%= I18n.t("activerecord.models.productrelation.other") %>',
        content: "<div id='productRelationsGrid' style='height:100%;'></div>"},
      { type: 'main', resizable: true,
        title: '<%= I18n.t("activerecord.models.recommendation.other") %>',
        content: "<div id='recommendationsGrid' style='height:100%;'></div>" },
      { type: 'preview', size: '50%', resizable: true,
        title: '<%= I18n.t("activerecord.models.supplyrelation.other") %>',
        content: "<div id='supplyRelationsGrid' style='height:100%;'></div>"}
    ],
    onRender: function(event) {
      event.onComplete = function () {
        productRelationsGrid()
        supplyRelationsGrid()
      }
    }
  })

  w2ui.relationmanager.content('main', w2ui.relations)
})