<p><%= @page.title %><%= javascript_include_tag :defaults %> <%= header_files :ivellio_vellin %></p>

<div>
<div><%= render_coroporate_sidebar_navigation %> <%= render_template :corporate_header %> <%= render_corporate_navigation %>
<div>
<div>
<div>
<h1><%= container :slogan %></h1>

<div><%= container :main %></div>
</div>

<div>
<div><%= container :service_links %></div>

<div><%= container :service_links2 %></div>
</div>

<p>&nbsp;</p>
</div>
</div>

<div><img src="/images/ivellio_frontend/logos/ivellio_partner.png" /> <%= render_template :partner_logos %></div>
<%= render_template :footer %></div>
</div>

<p><!-- begin SnapEngage code --><!-- end SnapEngage code --></p>
