function categoryForm() {
  $('#categoryForm').w2form({
    name: 'categoryForm',

    formHTML:
      '<div class="w2ui-page page-0">'+
      '  <div style="float: left">'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.name") %> DE</label>'+
      '      <div><input name="name_de" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.name") %> EN</label>'+
      '      <div><input name="name_en" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.description") %> DE</label>'+
      '      <div><input name="description_de" size=80 /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.description") %> EN</label>'+
      '      <div><input name="description_en" size=80 /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.long_description") %> DE</label>'+
      '      <div><textarea rows="4" cols="84" name="long_description_de" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.long_description") %> EN</label>'+
      '      <div><textarea rows="4" cols="84" name="long_description_en" /></div>'+
      '    </div>'+
      '  </div>'+
      '  <div style="float: right; margin-right:20px;">'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.position") %> DE</label>'+
      '      <div><input name="position" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.filters") %> DE</label>'+
      '      <div><input name="filters" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.filtermin") %> DE</label>'+
      '      <div><input name="filtermin" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.filtermax") %> DE</label>'+
      '      <div><input name="filtermax" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.created_at") %> DE</label>'+
      '      <div><input name="created_at" /></div>'+
      '    </div>'+
      '    <div class="w2ui-field">'+
      '      <label><%= I18n.t("attributes.updated_at") %> DE</label>'+
      '      <div><input name="updated_at" /></div>'+
      '    </div>'+
      '  </div>'+
      '</div>'+
      '<div class="w2ui-buttons">'+
      '   <button class="w2ui-btn w2ui-btn-red" name="delete">'+
      '     <%= I18n.t("hobo.actions.delete", model: Category.model_name.human) %>'+
      '   </button>'+
      '   <button class="w2ui-btn w2ui-btn-green" name="save">'+
      '     <%= I18n.t("hobo.actions.save", model: Category.model_name.human) %>'+
      '   </button>'+
      '</div>',

    fields : [
      { name: 'name_de', type: 'text', required : true},
      { name: 'name_en', type: 'text', required : true },
      { name: 'description_de', type: 'text' },
      { name: 'description_en', type: 'text' },
      { name: 'long_description_de', type: 'textarea' },
      { name: 'long_description_en', type: 'textarea' },
      { name: 'position', type: 'int', disabled: true},
      { name: 'filters', type: 'float', disabled: true },
      { name: 'filtermin', type: 'float' },
      { name: 'filtermax', type: 'float' },
      { name: 'created_at', type: 'text', disabled: true },
      { name: 'updated_at', type: 'text', disabled: true },
    ],

    actions: {
      delete: {
        onClick: function () {
          $.ajax({
            url:"/productmanager/front/category/" + w2ui.categoryForm.recid,
            method: "DELETE",
            data: { authenticity_token: csrf_token },
            dataType: 'script',
          }).done(function(response, textStatus, jqXHR) {
            w2ui.categoryForm.clear()
          }).fail(function(jqXHR, textStatus, errorThrown) {
            w2alert(jqXHR.responseText)
          })
        }
      },
    }
  })
}