<h3>Guten Tag <%= @user %>,</h3>

<p>um Ihren Account für <%= @app_name %> zu aktiveren, klicken Sie bitte auf folgenden Link:</p>
<p> <%= link_to activate_from_email_url(:id => @user, :key => @key), activate_from_email_url(:id => @user, :key => @key) %></p>

<p>Mit freundlichen Grüßen und bestem Dank,</p>

<p>das <%= @app_name %> Team.</p>

<hr>

<h3>Hello <%= @user %>,</h3>


<p>To activate your account for <%= @app_name %>, click on this link:</p>
<p> <%= link_to activate_from_email_url(:id => @user, :key => @key), activate_from_email_url(:id => @user, :key => @key) %></p>

<p>Thank you,</p>

<p>The <%= @app_name %> team.</p>