<h3>Guten Tag, <%= @user %>,</h3>

<p>um Ihren E-Mail Adresss zu für <%= @app_name %> bestätigen, klicken Sie bitte auf folgenden Link:</p>
<p> <%= link_to activate_from_email_url(:id => @user, :key => @key), activate_from_email_url(:id => @user, :key => @key) %></p>

<p>Mit freundlichen Grüßen und bestem Dank,</p>

<p>das <%= @app_name %> Team.</p>


<h3><%= @user %>,</h3>


<p>To activate your account for <%= @app_name %>, click on this link:</p>
<p> <%= link_to activate_from_email_url(:id => @user, :key => @key), activate_from_email_url(:id => @user, :key => @key) %></p>

<p>Thank you,</p>

<p>The <%= @app_name %> team.</p>