<h3><%= @user %>,</h3>

<p>Wenn Sie Ihr Passwort für <%= @app_name %> vergessen haben, können Sie ein
neues nach Klick auf folgenden Link setzen:</p>

<p> &nbsp; &nbsp; &nbsp; <%= link_to reset_password_from_email_url(id: @user, key: @key),
                                     reset_password_from_email_url(id: @user, key: @key) %></p>

<p>Danke,</p>

<p>Ihr <%= @app_name %> Team.</p>

<hr/>

<h3><%= @user %>,</h3>

<p>If you have forgotten your password for <%= @app_name %>, you can choose
a new one by clicking on this link:</p>

<p> &nbsp; &nbsp; &nbsp;<%= link_to reset_password_from_email_url(id: @user, key: @key),
                                    reset_password_from_email_url(id: @user, key: @key) %></p>

<p>Thank you,</p>

<p>The <%= @app_name %> team.</p>