<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>
      Neue Kommentar von <%= @comment.user.name %> (<%= @comment.user.email %>) zu
      <%= @comment.blogpost ? @comment.blogpost.title : @comment.podcast.title %>
    </h1>

    <table>
      <tr><td><b>Text:</b></td><td><%= strip_tags(@comment.text) %></td></tr>
      <tr>
        <td><b>Übergeordneter Kommentar:</b></td>
        <td><% if @comment.parent %>
            <%= truncate(strip_tags(@comment.text), :length => 200) %>
          <% end %>
        </td>
      </tr>
    </table>
  </body>
</html>