<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>
      Neue Kommentar von <%= @comment.user.name %> (<%= @comment.user.email_address %>) zu<br/>
      <%= @comment.blogpost ? @comment.blogpost.title : @comment.podcast.title %>
    </h3>

    <table>
      <tr><td><b>Text:</b></td><td><%= strip_tags(@comment.content) %></td></tr>
      <% if @comment.parent %>
        <tr>
          <td><b>Übergeordneter Kommentar:</b></td>
          <td><%= strip_tags(@comment.content) %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>