<%= f.label :icecat_product_xml, "Icecat Product XML-File" %></td>
<%= Icecat::Access.base_uri %>/<%= f.text_field :icecat_product_xml, :class => "inputFields" , :disabled => false %>
<%= link_to( "show", "#{Icecat::Access.base_uri}/#{f.object.icecat_product_xml}")%>
<%= f.label :icecat_product_id, "ICECAT Product ID" %>
<%= f.text_field :icecat_product_id, :class => "inputFields", :disabled => true %>

<%= link_to_function "<span>import icecat xml js</span>",
    "if( confirm('Icecat-Import: Product-Data will be overwritten (Properties, Related Products, Supplies). Are You Sure?')) {
    $('product_form').action = '#{import_icecat_xml_admin_catalog_product_path( @product )}' ;
    $('product_form')._method = 'put' ;
    $('product_form').submit();}return false;", :class => "green-button" %>