{{#link-to 'consumableitem' item.id tagName="td"}}
  <span class="glyphicon glyphicon-edit">{{item.position}}
{{/link-to}}
<td>{{item.contractType}}</td>
<td>{{item.productNumber}}</td>
<td>{{item.productLine}}</td>
<td>{{item.descriptionDe}}</td>
<td>{{item.descriptionEn}}</td>
<td>{{item.amount}}</td>
<td>{{item.theyield}}</td>
<td>{{item.wholesalePrice}}</td>
<td>{{twoDigits item.price}}</td>
<td>{{twoDigits item.value}}</td>
<td>{{twoDigits item.monthlyRate}}</td>
<td>{{item.term}}</td>
<td>{{item.consumption1}}</td>
<td>{{item.consumption2}}</td>
<td>{{item.consumption3}}</td>
<td>{{item.consumption4}}</td>
<td>{{item.consumption5}}</td>
<td>{{item.consumption6}}</td>
<td>{{twoDigits item.newRate2}}</td>
<td>{{twoDigits item.newRate3}}</td>
<td>{{twoDigits item.newRate4}}</td>
<td>{{twoDigits item.newRate5}}</td>
<td>{{twoDigits item.newRate6}}</td>
<td>{{twoDigits item.balance1}}</td>
<td>{{twoDigits item.balance2}}</td>
<td>{{twoDigits item.balance3}}</td>
<td>{{twoDigits item.balance4}}</td>
<td>{{twoDigits item.balance5}}</td>
<td>{{twoDigits item.balance6}}</td>