  {{#link-to 'contractitem' item.id tagName="td"}}
    <span class="glyphicon glyphicon-edit">{{item.position}}
  {{/link-to}}
  <td>{{item.term}}</td>
  <td>{{formatDate item.startdate}}</td>
  <td>{{formatDate item.enddate}}</td>
  <td>{{item.productNumber}}</td>
  <td>{{item.descriptionDe}}</td>
  <td>{{item.descriptionEn}}</td>
  <td>{{item.amount}} {{item.unit}}</td>
  <td>{{item.marge}}</td>
  <td>{{item.volumeBw}}</td>
  <td>{{item.volumeColor}}</td>
  <td>{{twoDigits item.price}}</td>
  <td>{{twoDigits item.monthlyRate}}</td>
  <td>{{item.monitoringRate}}</td>
  <td>{{item.discountAbs}}</td>
  <td>{{twoDigits item.value}}</td>
  <td>{{item.vat}}%</td>
  <td>{{twoDigits item.valueInclVat}}</td>
  <td nowrap>{{formatDatetime item.createdAt}}</td>
  <td nowrap>{{formatDatetime item.updatedAt}}</td>