  <td>{{formatDate item.enddate}}</td>
  <td>{{twoDigits item.price}}</td>
  <td>{{twoDigits item.monthlyRate}}</td>
  <td>{{item.monitoringRate}}</td>
  <td>{{item.discountAbs}}</td>
  <td>{{twoDigits item.value}}</td>
  <td>{{twoDigits item.valueInclVat}}</td>
