function foldertreeToolbar() {
  $('#foldertree-toolbar').w2toolbar({
    name: 'foldertree-toolbar',
    items: [
      {
        type: 'button',
        id: 'add',
        caption: '',
        icon: 'fa fa-plus'
      },
      {
        type: 'button',
        id: 'edit',
        caption: '',
        icon: 'fa fa-edit'
      },
      {
        type: 'button',
        id: 'delete',
        caption: '',
        icon: 'fa fa-close'
      }
    ],
    onClick: function (event) {
      switch (event.target) {
      case 'add':
        w2popup.open({
          title: 'Create Folder',
          body: '<div id="folderForm"></div>',
          onOpen  : function (event) {
            event.onComplete = function () {
              w2ui['folderForm'].recid = null
              $('#folderForm').w2render('folderForm')
            }
          }
        })
        break

      case 'delete':
        var active_node = $("#foldertree").fancytree("getTree").getActiveNode()
        if (active_node) {
          w2confirm('<%= I18n.t("mercator.are_you_sure") %>', function (button) {
            if (button =='Yes') {
              Messenger().run({
                progressMessage: '<%= I18n.t("activerecord.attribute_help.folder.deleting") %>',
                successMessage: '<%= I18n.t("activerecord.attribute_help.folder.deleted") %>',
                errorMessage: '<%= I18n.t("activerecord.attribute_help.folder.delete_failed") %>',
                hideAfter: 3
              },{
                url:"/contentmanager/front/delete_folder/" + active_node.key,
                method: "POST",
                data: { authenticity_token: csrf_token },
                dataType: 'script',
                success: function(response){
                  $("#foldertree").fancytree("getTree").reload()
                },
                error: function(response){
                  return response.responseText
                }
              })
            }
          })
        } else {
          w2alert('<%= I18n.t("mercator.content_manager.no_folder_selected") %>')
        }
        break

      case 'edit':
        var active_node = $("#foldertree").fancytree("getTree").getActiveNode()
        if (active_node) {
          w2popup.open({
            title: '<%= I18n.t("mercator.content_manager.edit_folder") %>',
            body: '<div id="folderForm"></div>',
            onOpen  : function (event) {
              event.onComplete = function () {
                w2ui['folderForm'].recid = active_node.key
                $('#folderForm').w2render('folderForm')
              }
            }
          })

        } else {
          w2alert('<%= I18n.t("mercator.content_manager.no_folder_selected") %>')
        }
      }
    }
  })
}