$(function () {
  w2utils.locale('/assets/contentmanager/de-de.json')

  $('#property_manager').w2layout({
    name: 'propertymanager',
    panels: [
      {
        type: 'top',
        title: '<%= I18n.t("mercator.property_manager.title") %>',
        size: 58,
        resizable: true,
        content: "Top"
      }, {
        type: 'left',
        size: '20%',
        resizable: true,
        title: '<%= I18n.t("activerecord.models.product.other") %>',
        content: "<div id='productGrid' style='height: 100%'></div>"
      }, {
        type: 'main',
        resizable: true,
        title: '<%= I18n.t("activerecord.models.value.other") %>',
        content: "<div id='valueTree' style='height: 100%'></div>"
      }, {
        type: 'preview',
        resizable: true,
        size: '40%',
        title: '<%= I18n.t("activerecord.models.value.other") %>',
        content: "<div id='valueForm' style='height: 100%'></div>"
      }, {
        type: 'right',
        size: '35%',
        resizable: true,
        content: "" }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        productGrid()
        w2ui.productGrid.load('/productmanager/front/property_manager/' + request_id)
        valueTree()
        valueForm()
      }
    }
  })

  $().w2layout({
    name: 'propertylists',
    panels: [
      {
        type: 'left',
        size: '50%',
        resizable: true,
        title: '<%= I18n.t("activerecord.models.property_group.other") %>',
        content: "<div id='propertyGroupsGrid' style='height:100%;'></div>"
      },
      {
        type: 'main',
        resizable: true,
        title: '<%= I18n.t("activerecord.models.property.other") %>',
        content: "<div id='propertiesGrid' style='height:100%;'></div>"
      }
    ],
    onRender: function(event) {
      event.onComplete = function () {
        propertyGroupsGrid()
        w2ui.propertyGroupsGrid.load('/productmanager/front/show_property_groups')
        propertiesGrid()
        w2ui.propertiesGrid.load('/productmanager/front/show_properties')
      }
    }
  })

  w2ui.propertymanager.content('right', w2ui['propertylists'])
})
