<table>
  <thead>
    <tr>
      <th>Anzahl</th>
      <th>Nummer</th>
      <th>Artikel</th>
      <th>Einzelpreis</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody>
    <% for cart_item in cart.cart_items %>
    <tr>
      <td><%= cart_item.menge %></td>
      <td><%= cart_item.inventory.product.article_number %></td>
      <td>
        <%= cart_item.inventory.send("Bezeichnung") %>
      </td>
      <td>EUR <strong><%= "%0.2f" % cart_item.einzelpreis %></strong></td>
      <td>EUR <strong><%= "%0.2f" % cart_item.gesamtwert %></strong></td>
    </tr>
    <tr>
      <td style="border-bottom: 1px solid black;" colspan="5">
        <span><%= render_inventory_availability( cart_item.inventory, " ") %></span>
        <br />
      </td>
    </tr>
    <% end %>
  </tbody>
</table>