<div class="panel panel-default" {{bind-attr class="isDirty:panel-warning:panel-default"}}>
  <div class="panel-heading">
    <h3 class="panel-title">Position {{position}}
      <div class="pull-right">
        {{#if isDirty}}
          <button class="btn btn-success btn-xs" {{action "save"}}>
            <span class="glyphicon glyphicon-save" /> Speichern
          </button>
        {{/if}}

        {{#if wantsToDelete}}
          Sind Sie sicher?
          <button class="btn btn-danger btn-xs" {{action "delete"}}>
            <span class="glyphicon glyphicon-remove" /> Löschen
          </button>
          <button class="btn btn-primary btn-xs" {{action 'toggle' 'wantsToDelete'}}>
            Abbrechen
          </button>
        {{else}}
          <button class="btn btn-danger btn-xs" {{action 'toggle' 'wantsToDelete'}}>
            <span class="glyphicon glyphicon-remove" /> Löschen
          </button>
        {{/if}}
      </div>
      </h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <form class="form-horizontal col-sm-6" role="form">
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Laufzeit (Monate)</label>
          <div class="col-sm-6">{{input type="text" value=term size=1}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Vertragsbeginn</label>
          <div class="col-sm-6">{{view Contracting.DatePickerField value=startdate}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Artikelnummer</label>
          <div class="col-sm-6">{{input type="text" value=productNumber}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Beschreibung</label>
          <div class="col-sm-6">{{input type="text" value=descriptionDe}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Beschreibung (EN)</label>
          <div class="col-sm-6">{{input type="text" value=descriptionEn}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Menge / Einheit</label>
          <div class="col-sm-6">{{input type="text" value=amount size=3}} {{input type="text" value=unit size=3}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Marge (%)</label>
          <div class="col-sm-6">{{input type="text" value=marge size=1}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Monitoring (EUR)</label>
          <div class="col-sm-6">{{input type="text" value=monitoringRate size=1}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Druckvolumen S/W (Seiten)</label>
          <div class="col-sm-6">{{input type="text" value=volumeBw size=4}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Druckvolumen Farbe (Seiten)</label>
          <div class="col-sm-6">{{input type="text" value=volumeColor size=4}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Rabatt absolut (EUR)</label>
          <div class="col-sm-6">{{input type="text" value=discountAbs size=3}}</div>
        </div>
        <div class="col-sm-6 form-group">
          <label class="col-sm-6 control-label">Mehrwertsteuer</label>
          <div class="col-sm-6">{{input type="text" value=vat size=1}}%</div>
        </div>
      </form>
      <div class="col-sm-6">
        <table class="table table-striped table-bordered table-hover table-condensed">
          {{contractitem-calendarlines item=this}}
        </table>
      </div>
    </div>
  </div>

  {{render 'consumableitems' consumableitems}}
</div>

{{outlet}}